#-- IB 2010-05-25 1.11.5RC2 Use properties files based on midp, cldc, and JSRs used individually instead of combining them.
DSIGNEDDEF = DSIGNED
file.prefix.signed = signed_
SUFFIXVERS.signed = -signed
signed = Signed
