#-- IB 2010-10-20 1.11.5Dev12 Use properties file for signed jar/jad files.
#-- IB 2010-10-20 1.11.5Dev12 Don't write third certification in jad file.
#-- IB 2010-11-16 1.11.5Dev12 Treat Verisign as other signed files.
file.prefix.verisign = verisign_
SUFFIXVERS.verisign = -verisign
verisign.text = verisign 
