#spNaviChannel {
	MARGIN: 0px; WIDTH: 100%! important
}
#spContainer {
	WIDTH: 980px
}
.spBigScreen #spContainer {
	WIDTH: 980px
}
#spHeader #spLogo {
	MARGIN-BOTTOM: 13px
}
.spPhotoGallery .spInnerBox {
	WIDTH: 390px
}
#home .spForumBox .spInnerRight {
	WIDTH: 190px
}
#spMainContent UL.spLinkList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
.spTopThema H4 {
	LINE-HEIGHT: 1em! important
}
.spLinkBox {
	WIDTH: 410px
}
.spLinkBox .spPdf {
	WIDTH: 350px! important
}
.spAssetAlignleft {
	MARGIN: 0px 11px 12px 0px
}
.spAssetalignleft {
	MARGIN: 0px 11px 12px 0px
}
.assetalignleft {
	MARGIN: 0px 11px 12px 0px
}
UL#spMetaNavigation {
	MARGIN: 7px 10px 4px 0px
}
DIV#spMainNavigation {
	CLEAR: none
}
DIV#spMainNavigation LI {
	LINE-HEIGHT: 19px; HEIGHT: 16px
}
#spMainSearch {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
#spHeader {
	WIDTH: 792px
}
#spHeader LABEL {
	MARGIN: 0px 0px 0px -3px
}
#wirtschaft #spHeader LABEL {
	MARGIN: 0px 0px 0px -3px
}
#spHeader INPUT {
	MARGIN: 0px
}
UL.spNaviLevel2 {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-SIZE: 0.62em; PADDING-BOTTOM: 0px! important; LINE-HEIGHT: 8px; PADDING-TOP: 2px! important
}
UL.spNaviLevel2 A {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; FONT-SIZE: 1em; PADDING-BOTTOM: 3px! important; WIDTH: 130px; LINE-HEIGHT: 1.1em; PADDING-TOP: 3px! important; HEIGHT: auto
}
UL.spNaviLevel2 A:hover {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; FONT-SIZE: 1em; PADDING-BOTTOM: 3px! important; WIDTH: 130px; LINE-HEIGHT: 1.1em; PADDING-TOP: 3px! important; HEIGHT: auto
}
UL.spNaviLevel1 LI.spNaviSubNavigation {
	HEIGHT: 29px
}
#spCommercialNav {
	TOP: 63px
}
#spCommercialNavFirst {
	TOP: 63px
}
#spCommercialNavSecond {
	TOP: 63px
}
.spBigScreen #spColumnRight .spInfoBox UL.spLinkList {
	WIDTH: 190px! important
}
.spBigScreen #spColumnRight .spArticleImageBox {
	MARGIN: 15px 10px 0px 19px
}
.spBigScreen #spColumnRight UL.spSingle .spArticleImageBox {
	MARGIN: 3px 10px 0px 15px
}
.spBigScreen #spColumnRight .spInfoBox .spSplit .spArticleImageBox {
	MARGIN: 15px 10px 0px 19px
}
.spInfoBox {
	PADDING-RIGHT: 10px! important; PADDING-LEFT: 10px! important; PADDING-BOTTOM: 15px! important; MARGIN: 0px; WIDTH: 318px; PADDING-TOP: 13px! important
}
#spColumnRight .spInfoBox UL.spLinkList {
	WIDTH: 130px
}
UL.spSplitRight {
	MARGIN: 11px 0px 0px
}
.spSmallScreen #spColumnRight .spInfoBox .spSplit .spArticleImageBox {
	MARGIN: 14px 10px 0px 0px
}
.spBigScreen #spColumnRight .spVideoAsset {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 20px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 5px 5px 0px; PADDING-TOP: 0px! important
}
#spHeader {
	MARGIN: 0px
}
.spBigScreen #spColumnRight {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 0px 13px; WIDTH: 233px; PADDING-TOP: 0px! important
}
#spFooter {
	MARGIN: 45px 0px 0px 11px
}
#spColumnRight .spInfoBox UL.spFullsize {
	WIDTH: 300px! important
}
#spColumnRight .spInfoBox UL.spFullsize LI {
	WIDTH: 300px! important
}
.spBigScreen #spColumnRight .spInfoBox UL.spFullsize {
	WIDTH: 200px! important
}
.spBigScreen #spColumnRight .spInfoBox UL.spFullsize LI {
	WIDTH: 200px! important
}
#home #spColumnRight .spEpaperHeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px; PADDING-TOP: 0px
}
.spSmallScreen #spColumnRight .spCommercial {
	WIDTH: 339px! important
}
#spColumnRight #spR336 {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: url(http://www.spiegel.de/static/sys/v8/backgrounds/bg_maincontainer_line.gif) repeat-x 50% bottom; FLOAT: left; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 1px; WIDTH: 336px; PADDING-TOP: 0px! important
}
FORM .spAssetInner UL LI SPAN {
	MARGIN: 3px 0px 3px 2px
}
.spMML5pics240 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.spMML4pics90 UL LI {
	MARGIN: 0px 0px 0px 7px; WIDTH: 108px
}
.spMML5pics240 UL LI {
	MARGIN: 0px 0px 0px 7px
}
.spMML4pics120 {
	WIDTH: 515px
}
.spMML4pics120 UL {
	WIDTH: 515px
}
.spMML4pics120 UL LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.spMML4pics120 UL LI A IMG {
	MARGIN: 0px 0px 1px
}
#spSocialBookmarkClose {
	TOP: 4px
}
#spam #spFooter {
	MARGIN-LEFT: 7px! important
}
